.team {
  .member-informashion {
    .social-links {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 12px;
    }

    .social-links a i {
      color: #000 !important;   /* force black */
      transition: color 0.3s;

      &:hover {
        color: #000 !important; /* stays black on hover */
      }
    }
  }
}
