{{with .Site.Data.feedback}}
{{if .enable}}
<section class="testimonial"  style="background-image: url( {{ .backgroundImage }} );">
  <!--A retirer les marges dans le container lors de l'ajout des commanditaires -->
  <div class="container my-5 py-5"> 
    {{/*  <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-content">
          <h3>{{ .title}}</h3>
          <blockquote>
            {{ .feedback}}
            <cite>{{ .feedbackAuthor }}</cite>
          </blockquote>
        </div>
      </div>
    </div>  */}}
  </div>
</section>
{{end}}
{{end}}